
<div class = "d-flex flex-column">
  <h2 class = "py-4">You are seeing stats from the year <%=params[:years]%> sorted by <%=params[:sort]%></h2>
  <div>
    <%=render "seasons_form"%>
  </div>
<div id="players", class= "shadow rounded border-b border-gray-200 overflow-x-auto" do >
  <table class="table min-w-full bg-white tablesorter" id = "myTable">
  <div id = "form">
    <thead class="sticky top-0 bg-[#50AE26] text-white" >
      <tr data-controller="sort">
        <th  id="players-name " class="bg-[#50AE26] sticky top-0 left-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "Name", sort: "name", years: params[:years], order: sortable, class: "bg-[#50AE26]"%>
        </th>
        <th id="players-seasons" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "Year", sort: "seasons.count", order: sortable%>
        </th>
        <th id="players-games" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "G", sort: "games", years: params[:years], order: sortable%>
        </th>
        <th id="players-atbats" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AB", sort: "atbat", years: params[:years], order: sortable%>
        </th>
        <th id="players-hits" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "H", sort: "hits",  years: params[:years], order: sortable%>
        </th>
        <th id="players-runs" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "R", sort: "runs", years: params[:years], order: sortable%>
        </th>
        <th id="players-single" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "1B", sort: "singles", years: params[:years], order: sortable%>
        </th>
        <th id="players-double" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "2B", sort: "doubles", years: params[:years], order: sortable%>
        </th>
        <th id="players-triple" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "3B", sort: "triples",  years: params[:years], order: sortable%>
        </th>
        <th id="players-homeruns" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "HR", sort: "homeruns", years: params[:years], order: sortable%>
        </th>
        <th id="players-rbi" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "RBI", sort: "rbi",  years: params[:years], order: sortable%>
        </th>
        <th id="players-k" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "TB", sort: "tb",  years: params[:years], order: sortable%>
        </th>
        <th id="players-k" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "K", sort: "k", years: params[:years], order: sortable%>
        </th>
        <th id="players-sac" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SAC", sort: "sac", years: params[:years], order: sortable%>
        </th>
        <th id="players-gwrbi" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "GW", sort: "gwrbi", years: params[:years], order: sortable%>
        </th>
        <th id="players-avg" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AVG", sort: "avg", years: params[:years], order: sortable%>
        </th>
        <th id="players-slg" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SLG", sort: "slg", years: params[:years], order: sortable%>
        </th>
        <th id="players-obp" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "OBP", sort: "obp",  years: params[:years], order: sortable%>
        </th>
        <th id="players-obp" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "OPS", sort: "ops", years: params[:years], order: sortable%>
        </th>
      </tr>
    </thead>
    
    <tbody class="text-gray-700">
      <% @players.each do |player| %>
        <tr class = "hover:bg-gray-200">
       
          <td class="text-left py-1 px-2 sticky left-0 bg-white" id = "players_name"><%=link_to player.player.name, player_path(player.player_id) %></td>
          <td class="text-left py-1 px-2"><%= player.years %></td>
          <td class="text-left py-1 px-2"><%= player.games %></td>
          <td class="text-left py-1 px-2"><%= player.atbat %></td>
          <td class="text-left py-1 px-2"><%= player.hits %></td>
          <td class="text-left py-1 px-2"><%= player.runs %></td>
          <td class="text-left py-1 px-2"><%= player.singles %></td>
          <td class="text-left py-1 px-2"><%= player.doubles %></td>
          <td class="text-left py-1 px-2"><%= player.triples %></td>
          <td class="text-left py-1 px-2"><%= player.homeruns %></td>
          <td class="text-left py-1 px-2"><%= player.rbi %></td>
          <td class="text-left py-1 px-2"><%= player.tb %></td>
          <td class="text-left py-1 px-2"><%= player.k %></td>
          <td class="text-left py-1 px-2"><%= player.sac %></td>
          <td class="text-left py-1 px-2"><%= player.gwrbi %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(player.avg, precision: 3) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(player.slg, precision: 3) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(player.obp, precision: 3) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(player.ops, precision: 3) %></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
</div>