<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1 class="text-3xl text-center py-4">All Time Leaders</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 place-content-evenly">
    <div class="my-3">
        <%= column_chart @hits,  library: {animation: {easing: "easeInCirc", duration: "2000"}}, ytitle: "Hits", min: "null", max: "null", colors: ["#50AE26", "white"], width: "350px", height: "350px", title: "ALL TIME HITS LEADERS"%>
    </div>
    <div class="my-3">
        <%= column_chart @runs,  ytitle: "Runs",  min: "null", max: "null", colors: ["#50AE26", "white"], width: "350px", height: "350px", title: "ALL TIME RUNS LEADERS"%>
    </div>
    <div class="my-3">
        <%= column_chart @tb,  ytitle: "Total Bases",  min: "null", max: "null", colors: ["#50AE26", "white"], width: "350px", height: "350px", title: "ALL TIME TOTAL BASES LEADERS"%>
    </div>
    <div class="my-3">
        <%= column_chart @homeruns,  ytitle: "Homeruns",  min: "null", max: "null", colors: ["#50AE26", "white"], width: "350px", height: "350px", title: "ALL TIME HOMERUN LEADERS"%>
    </div>
    <div class="my-3">
        <%= column_chart @rbi,  ytitle: "RBI",  min: "null", max: "null", colors: ["#50AE26", "white"], width: "350px", height: "350px", title: "ALL TIME RBI LEADERS"%>
    </div>
    <div class="my-3">
        <%= column_chart @doubles,  ytitle: "Doubles",  min: "null", max: "null", colors: ["#50AE26", "white"], width: "350px", height: "350px", title: "ALL TIME DOUBLE LEADERS"%>
    </div>
</div>