<%= form_with url: eras_path, method: :get, class: "d-flex pb-2", data: {"turbo": false} do %>
  <label for="Year" class = "px-3">Years</label>
  <div class="relative inline-flex self-center">
    <%= check_box_tag("years[]", "2015") %>
    <%= label_tag "2015", "2015", class: "pl-1 pr-2"%>
    <%= check_box_tag("years[]", "2016") %>
    <%= label_tag "2016", "2016", class: "pl-1 pr-2" %>
    <%= check_box_tag("years[]", "2017") %>
    <%= label_tag "2017", "2017", class: "pl-1 pr-2" %>
    <%= check_box_tag("years[]", "2018") %>
    <%= label_tag"2018", "2018", class: "pl-1 pr-2" %>
    <%= check_box_tag("years[]", "2019") %>
    <%= label_tag "2019", "2019", class: "pl-1 pr-2" %>
    <%= check_box_tag("years[]", "2020") %>
    <%= label_tag "2020", "2020", class: "pl-1 pr-2" %>
    <%= check_box_tag("years[]", "2021") %>
    <%= label_tag "2021", "2021", class: "pl-1 pr-2" %>
    <%= check_box_tag("years[]", "2022") %>
    <%= label_tag "2022", "2022", class: "pl-1 pr-2" %>
    <%= submit_tag "Search", class: "mx-3 px-2 border-1 bg-[#50AE26] border-gray-800 hover:bg-gray-600 text-white"%>
  <% end %>