<div class = "d-flex flex-column">
  <h1 class = "text-2xl md:text-6xl my-4 p-2 text-center bg-[#50AE26] text-white w-1/2 place-self-center" >Eras</h1>
    <p class = "text-l md:text-xl text-center p-1 w-1/2 place-self-center">This page allows you to create statistical eras.  For example you can check the "Kory Baker was a coach" era by selecting the years 2017, 2018, and 2019.  You can click the categories to re-sort the table. </h2>
    <h2 class = "p-3">You are seeing players who played in one of these years <span class="font-bold"><%=years(params[:years])%></span> sorted by <span class="capitalize font-bold"><%=params[:sort] ? params[:sort] : "name"%></span></h2>
  <div>
    <%=render "eras_form"%>
  </div>
<div id="players", class= "shadow rounded border-b border-gray-200 overflow-x-auto" do >

  <table class="table  bg-white tablesorter min-w-full " id = "myTable">
  <div id = "form">
    <thead class="sticky top-0 bg-[#50AE26] text-white" >
      <tr data-controller="sort">
        <th  id="players-name" class="bg-[#50AE26] sticky top-0 left-0 z-100 text-left py-3  uppercase font-semibold text-sm text-white hover:cursor-pointer">
          <%= link_to "Name", sort: "name", years: params[:years], order: sortable%>
        </th>
        <th id="players-seasons" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "Seasons", sort: "seasons", years: params[:years], order: sortable%>
        </th>
        <th id="players-games" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "G", sort: "games", years: params[:years], order: sortable%>
        </th>
        <th id="players-atbats" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AB", sort: "atbat", years: params[:years], order: sortable%>
        </th>
        <th id="players-hits" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "H", sort: "hits", years: params[:years], order: sortable%>
        </th>
        <th id="players-runs" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "R", sort: "runs", years: params[:years], order: sortable%>
        </th>
        <th id="players-single" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "1B", sort: "singles", years: params[:years], order: sortable%>
        </th>
        <th id="players-double" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "2B", sort: "doubles", years: params[:years], order: sortable%>
        </th>
        <th id="players-triple" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "3B", sort: "triples", years: params[:years], order: sortable%>
        </th>
        <th id="players-homeruns" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "HR", sort: "homers", years: params[:years], order: sortable%>
        </th>
        <th id="players-rbi" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "RBI", sort: "rbi", years: params[:years], order: sortable%>
        </th>
        <th id="players-k" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "TB", sort: "total_bases", years: params[:years], order: sortable%>
        </th>
        <th id="players-k" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "K", sort: "k", years: params[:years], order: sortable%>
        </th>
        <th id="players-sac" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SAC", sort: "sac", years: params[:years], order: sortable%>
        </th>
        <th id="players-gwrbi" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "GW", sort: "gw", years: params[:years], order: sortable%>
        </th>
        <th id="players-avg" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AVG", sort: "avg", years: params[:years], order: sortable%>
        </th>
        <th id="players-slg" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SLG", sort: "slg", years: params[:years], order: sortable%>
        </th>
        <th id="players-obp" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "OBP", sort: "obp", years: params[:years], order: sortable%>
        </th>
        <th id="players-obp" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "OPS", sort: "oplus", years: params[:years], order: sortable%>
        </th>
      </tr>
    </thead>
    
    <tbody class="text-gray-700">
    <%= @selected%>
      <% @grouped.each do |player| %>
        <tr class = "hover:bg-gray-200">
          <td class="text-left py-1 px-2 sticky left-0 bg-white" id = "players_name"><%=link_to player[0], player_path(player[1][:id]) %></td>
          <td class="text-left py-1 px-2" id = "players_seasons"><%=player[1][:seasons] %></td>
          <td class = "text-left py-1 px-2"><%=player[1][:games]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:atbat]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:hits]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:runs]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:singles]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:doubles]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:triples]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:homers]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:rbi]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:total_bases]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:k]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:sac]%></td>
          <td class = "text-left py-1 px-2"><%=player[1][:gw]%></td>
          <td class = "text-left py-1 px-2"><%=number_with_precision(player[1][:avg], precision: 3)%></td>
          <td class = "text-left py-1 px-2"><%=number_with_precision(player[1][:slg], precision: 3)%></td>
          <td class = "text-left py-1 px-2"><%=number_with_precision(player[1][:obp], precision: 3)%></td>
          <td class = "text-left py-1 px-2"><%=number_with_precision(player[1][:oplus], precision: 3)%></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
  <%=@yearParams%>
  

</div>
</div>

