
<div class = "d-flex flex-column">
<div class = "py-3">
<h1><%= @player.name%></h1>
</div>
    <div id="players" class="shadow rounded border-b border-gray-200">
  <table class="table min-w-full bg-white tablesorter" id = "myTable">
  <div id = "form">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th id="players-season" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "Year", :sort => "year"%>
        </th>
        <th id="players-games" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "G", :sort => "stats.games"%>
        </th>
        <th id="players-atbats" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AB", :sort => "atbat"%>
        </th>
        <th id="players-hits" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "H", :sort => "hits"%>
        </th>
        <th id="players-runs" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "R", :sort => "runs"%>
        </th>
        <th id="players-single" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "1B", :sort => "singles"%>
        </th>
        <th id="players-double" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "2B", :sort => "doubles"%>
        </th>
        <th id="players-triple" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "3B", :sort => "triples"%>
        </th>
        <th id="players-homeruns" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "HR", :sort => "homeruns"%>
        </th>
        <th id="players-rbi" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "RBI", :sort => "rbi"%>
        </th>
        <th id="players-k" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "TB", :sort => "tb"%>
        </th>
        <th id="players-k" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "K", :sort => "k"%>
        </th>
        <th id="players-sac" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SAC", :sort => "sac"%>
        </th>
        <th id="players-gwrbi" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "GW", :sort => "gwrbi"%>
        </th>
        <th id="players-avg" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AVG", :sort => "avg"%>
        </th>
        <th id="players-slg" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SLG", :sort => "slg"%>
        </th>
      </tr>
    </thead>
    
    <tbody class="text-gray-700">
      <% @stat.each do |stat| %>
        <tr>
          <td class="text-left py-1 px-2" id = "season_year"><%= stat.season.year %></td>
          <td class="text-left py-1 px-2"><%= stat.games %></td>
          <td class="text-left py-1 px-2"><%= stat.atbat %></td>
          <td class="text-left py-1 px-2"><%= stat.hits %></td>
          <td class="text-left py-1 px-2"><%= stat.runs %></td>
          <td class="text-left py-1 px-2"><%= stat.singles %></td>
          <td class="text-left py-1 px-2"><%= stat.doubles %></td>
          <td class="text-left py-1 px-2"><%= stat.triples %></td>
          <td class="text-left py-1 px-2"><%= stat.homeruns %></td>
          <td class="text-left py-1 px-2"><%= stat.rbi %></td>
          <td class="text-left py-1 px-2"><%= stat.tb %></td>
          <td class="text-left py-1 px-2"><%= stat.k %></td>
          <td class="text-left py-1 px-2"><%= stat.sac %></td>
          <td class="text-left py-1 px-2"><%= stat.gwrbi %></td>
          <td class="text-left py-1 px-2"><%= stat.avg %></td>
          <td class="text-left py-1 px-2"><%= stat.slg%></td>
          
        </tr>
        
      <% end %>
    </tbody>
  </table>
  </div>