<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<div class = "d-flex flex-column">
<div class = "py-3">
<h1 id = "player_name"><%= @player.name%></h1>
</div>
<div id="players" class="shadow rounded border-b border-gray-200 overflow-x-scroll">
  <table class="table min-w-full bg-white tablesorter" id = "myTable">
  <div id = "form">
    <thead class="bg-[#50AE26] text-white">
      <tr>
        <th id="players-season" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "Year", sort: "year"%>
          <%# <%=render "tooltip", locals: {title: "year"} %>
        </th>
        <th id="players-games" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "G", sort: "stats.games"%>
          <%# <%=render "tooltip", locals: {title: "Games Played"}%>
        </th>
        <th id="players-atbats" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AB", sort: "atbat"%>
          <%# <%=render "tooltip", locals: { title: "At Bats"}%> 
        </th>
        <th id="players-hits" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "H", sort: "hits"%>
          <%# <%=render "tooltip", locals: {title: "Hits"}%>
        </th>
        <th id="players-runs" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "R", sort: "runs"%>
          <%# <%=render "tooltip", locals: {title: "Runs"}%>
        </th>
        <th id="players-single" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "1B", sort: "singles"%>
          <%# <%=render "tooltip", locals: {title:  "Singles"}%>
        </th>
        <th id="players-double" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "2B", sort: "doubles"%>
          <%# <%=render "tooltip", locals: {title: "Doubles"}%>
        </th>
        <th id="players-triple" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "3B", sort: "triples"%>
          <%# <%=render "tooltip", locals: {title: "Triples"}%>
        </th>
        <th id="players-homeruns" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "HR", sort: "homeruns"%>
          <%# <%=render "tooltip", locals: {title: "Home Runs"}%>
        </th>
        <th id="players-rbi" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "RBI", sort: "rbi"%>
          <%# <%=render "tooltip", locals: {title: "Runs Batted In"}%>
        </th>
        <th id="players-k" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "TB", sort: "tb"%>
          <%# <%=render "tooltip", locals:{title: "Total Bases"}%>
        </th>
        <th id="players-k" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "K", sort: "k"%>
          <%# <%=render "tooltip", locals: {title: "Strike Outs"}%>
        </th>
        <th id="players-sac" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SAC", sort: "sac"%>
          <%# <%=render "tooltip", locals: {title: "Sacrifice Flys"}%>
        </th>
        <th id="players-gwrbi" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "GW", sort: "gwrbi"%>
          <%# <%=render "tooltip", locals: {title: "Game Winning Rbi"}%>
        </th>
        <th id="players-avg" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AVG", sort: "avg"%>
          <%# <%=render "tooltip", locals: {title: "Batting Average"}%>
        </th>
        <th id="players-slg" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SLG", sort: "slg"%>
          <%# <%=render "tooltip", locals: {title: "Slugging Percentage"}%>
        </th>
        <th id="players-slg" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "OBP", sort: "obp"%>
          <%# <%=render "tooltip", locals: {title: "On Base Percentage"}%>
        </th>
        <th id="players-slg" data-tooltip-target = "tooltip-default" class="text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "OPS", sort: "ops"%>
          <%# <%=render "tooltip", locals: {title: "On Base + Slugging"}%>
        </th>
      </tr>
    </thead>
    
    <tbody class="text-gray-700">
      <% @stat.each do |stat| %>
        <tr>
          <td class="text-left py-1 px-2" id = "season_year"><%= stat.season.year %></td>
          <td class="text-left py-1 px-2"><%= stat.games %></td>
          <td class="text-left py-1 px-2"><%= stat.atbat %></td>
          <td class="text-left py-1 px-2" id="hits"><%= stat.hits %></td>
          <td class="text-left py-1 px-2"><%= stat.runs %></td>
          <td class="text-left py-1 px-2"><%= stat.singles %></td>
          <td class="text-left py-1 px-2"><%= stat.doubles %></td>
          <td class="text-left py-1 px-2"><%= stat.triples %></td>
          <td class="text-left py-1 px-2"><%= stat.homeruns %></td>
          <td class="text-left py-1 px-2"><%= stat.rbi %></td>
          <td class="text-left py-1 px-2"><%= stat.tb %></td>
          <td class="text-left py-1 px-2"><%= stat.k %></td>
          <td class="text-left py-1 px-2"><%= stat.sac %></td>
          <td class="text-left py-1 px-2"><%= stat.gwrbi %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(stat.avg, precision: 3) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(stat.slg, precision: 3)%></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(stat.obp, precision: 3)%></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(stat.ops, precision: 3)%></td>
        </tr>
      <% end %>
          <tr class="font-bold border-t-2">
          <td class="text-left py-1 px-2" id = "season_year">Totals</td>
          <td class="text-left py-1 px-2"><%= totals("games") %></td>
          <td class="text-left py-1 px-2"><%= totals("atbat") %></td>
          <td class="text-left py-1 px-2"><%= totals("hits") %></td>
          <td class="text-left py-1 px-2"><%= totals("runs") %></td>
          <td class="text-left py-1 px-2"><%= totals("singles") %></td>
          <td class="text-left py-1 px-2"><%= totals("doubles") %></td>
          <td class="text-left py-1 px-2"><%= totals("triples") %></td>
          <td class="text-left py-1 px-2"><%= totals("homeruns") %></td>
          <td class="text-left py-1 px-2"><%= totals("rbi") %></td>
          <td class="text-left py-1 px-2"><%= totals("tb") %></td>
          <td class="text-left py-1 px-2"><%= totals("k") %></td>
          <td class="text-left py-1 px-2"><%= totals("sac") %></td>
          <td class="text-left py-1 px-2"><%= totals("gwrbi") %></td>
          <td class="text-left py-1 px-2"><%= avg() %></td>
          <td class="text-left py-1 px-2"><%= slug() %></td>
          <td class="text-left py-1 px-2"><%= obp() %></td>
          <td class="text-left py-1 px-2"><%= opslug() %></td>
          </tr>

          
          
    </tbody>
  </table>

<div class="grid grid-cols-1  p-2 gap-2">
<%= column_chart [{name: "Player Atbats", data: @ab}, {name: "Avg Player Atbats", data: @abavg}], title: "Atbats", min: "null", max: "null", colors: ["#50AE26", "black"]%>
<%= column_chart [{name: "Player Hits", data: @hits}, {name: "Avg Player Hits", data: @hitsavg}], title: "Hits", min: "null", max: "null", colors: ["#50AE26", "black"]%>
<%= column_chart [{name: "Player Runs", data: @runs}, {name: "Avg Player Runs", data: @runsavg}], title: "Runs", min: "null", max: "null", colors: ["#50AE26", "black"]%>
<%= column_chart [{name: "Player TB", data: @tb}, {name: "Avg Player TB", data: @tbavg}], title: "TB", min: "null", max: "null", colors: ["#50AE26", "black"]%>
<%= column_chart [{name: "Player HR", data: @hr}, {name: "Avg Player HR", data: @hravg}], title: "HR", min: "null", max: "null", colors: ["#50AE26", "black"]%>
<%= column_chart [{name: "Player RBI", data: @rbi}, {name: "Avg Player RBI", data: @rbiavg}], title: "RBI", min: "null", max: "null", colors: ["#50AE26", "black"]%>
<%= column_chart [{name: "Player AVG", data: @avg}, {name: "Avg Player AVG", data: @avgavg}], title: "AVG", min: "null", max: "null", colors: ["#50AE26", "black"]%>
<%= column_chart @slg, title: "Slugging", min: "null", max: "null", colors: ["#50AE26", "white"]%>
<%= column_chart @ops, title: "On Base + Slugging", min: "null", max: "null", colors: ["#50AE26", "white"]%>
</div>



  
  </div>