<div >
      <div class="flex flex-col pb-3">
        <%= render partial: 'players_individual_leaderboards', locals: { players: @games, stat_label: "Games", stat_column: :games, complete_stats_label: "Complete Games Leaders" } %>
      </div>
</div>
<div >
      <div class="flex flex-col pb-3">
        <%= render partial: 'players_individual_leaderboards', locals: { players: @hits, stat_label: "Hits", stat_column: :hits, complete_stats_label: "Complete Hits Leaders" } %>
      </div>
</div>
<div >
      <div class="flex flex-col pb-3">
        <%= render partial: 'players_individual_leaderboards', locals: { players: @runs, stat_label: "Runs", stat_column: :runs, complete_stats_label: "Complete Runs Leaders" } %>
      </div>
</div>
<div >
      <div class="flex flex-col pb-3">
        <%= render partial: 'players_individual_leaderboards', locals: { players: @homers, stat_label: "HR", stat_column: :homeruns, complete_stats_label: "Complete HR Leaders" } %>
    </div>
</div>
<div >
      <div class="flex flex-col pb-3">
        <%= render partial: 'players_individual_leaderboards', locals: { players: @doubles, stat_label: "2B", stat_column: :doubles, complete_stats_label: "Complete 2B Leaders" } %>
    </div>
</div>
<div >
      <div class="flex flex-col pb-3">
        <%= render partial: 'players_individual_leaderboards', locals: { players: @triples, stat_label: "3B", stat_column: :triples, complete_stats_label: "Complete 3B Leaders" } %>
    </div>
</div>
<div >
      <div class="flex flex-col pb-3">
        <%= render partial: 'players_individual_leaderboards', locals: { players: @tb, stat_label: "TB", stat_column: :tb, complete_stats_label: "Complete TB Leaders" } %>
    </div>
</div>
</div>

<div class = "py-10 flex flex-col">
    <h1 class = "text-3xl text-center pb-3">Single Season Leaders</h1>
    <div class = "grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Hits</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singlehits.each_with_index do |player, index|%>
        <tr class = "hover:bg-gray-200">
        <td class = "text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=player.hits%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Single Season Hits Leaders", every_index_path(sort: "hits", order: "asc")%></div>
</div>
<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Runs</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singleruns.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=player.runs%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Single Season Runs Leaders", every_index_path(sort: "runs", order: "asc")%></div>
</div>
<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">2B</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singledoubles.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=player.doubles%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Single Season 2B Leaders", every_index_path(sort: "doubles", order: "asc")%></div>
</div>
<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">RBI</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singlerbi.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=player.rbi%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Single Season RBI Leaders", every_index_path(sort: "rbi", order: "asc")%></div>
</div>
<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">HR</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singlehr.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=player.homeruns%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Single Season HR Leaders", every_index_path(sort: "homeruns", order: "asc")%></div>
</div>

<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">AVG</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singleavg.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=number_with_precision(player.avg, precision: 3)%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Single Season AVG Leaders", every_index_path(sort: "avg", order: "asc")%></div>
</div>

<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">TB</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singletb.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=player.tb%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Single Season TB Leaders", every_index_path(sort: "tb", order: "asc")%></div>
</div>

<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">OPS+</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singleopsPlus.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=number_with_precision(player.opsPlus, precision: 0)%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Adjusted Leaders", dsl_info_adjusted_path%></div>

</div>
<div>
<table class ="w-96 bg-white tablesorter shadow rounded border-b border-gray-200">
    <thead class = "bg-[#50AE26] text-white">
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Rank</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Name</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Team</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">Year</th>
    <th class = "text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">SLG+</th>
    <thead>
    <tbody class = "text-gray-700">
    <%@singleslgPlus.each_with_index do |player, index|%>
        <tr class="hover:bg-gray-200">
        <td class="text-left py-1 px-2"><%=index + 1%></td>
        <td class="text-left py-1 px-2"><%=link_to player.player.name, player_path(player.player)%></td>
        <td class="text-left py-1 px-2"><%=player.team.team_name%></td>
        <td class="text-left py-1 px-2"><%=player.years%></td>
        <td class="text-left py-1 px-2"><%=number_with_precision(player.slgPlus, precision: 0)%></td>
    </tr>
    <%end%>
    <tbody>
</table>
    <div class = "w-96 bg-white shadow rounded border-t border-gray-200 text-gray-400 text-center py-2"><%=link_to "Adjusted Leaders", dsl_info_adjusted_path%></div>
</div>
</div>