<div class = "d-flex flex-column">
  <div>
    <%=render "form"%>
  </div>
<div id="players", class= "shadow rounded border-b border-gray-200" do >
  <table class="table min-w-full bg-white tablesorter" id = "myTable">
  <div id = "form">
    <thead class="sticky top-0 bg-gray-800 text-white" >
      <tr data-controller="sort">
        <th  id="players-name" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "Name", :sort=>"name"%>
        </th>
        <th id="players-seasons" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "Seasons", :sort => "seasons.count"%>
        </th>
        <th id="players-games" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "G", :sort => "stats.games"%>
        </th>
        <th id="players-atbats" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AB", :sort => "atbat"%>
        </th>
        <th id="players-hits" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "H", :sort => "hits"%>
        </th>
        <th id="players-runs" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "R", :sort => "runs"%>
        </th>
        <th id="players-single" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "1B", :sort => "singles"%>
        </th>
        <th id="players-double" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "2B", :sort => "doubles"%>
        </th>
        <th id="players-triple" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "3B", :sort => "triples"%>
        </th>
        <th id="players-homeruns" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "HR", :sort => "homeruns"%>
        </th>
        <th id="players-rbi" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "RBI", :sort => "rbi"%>
        </th>
        <th id="players-k" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "TB", :sort => "tb"%>
        </th>
        <th id="players-k" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "K", :sort => "k"%>
        </th>
        <th id="players-sac" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SAC", :sort => "sac"%>
        </th>
        <th id="players-gwrbi" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "GW", :sort => "gwrbi"%>
        </th>
        <th id="players-avg" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "AVG", :sort => "avg"%>
        </th>
        <th id="players-slg" class="bg-gray-800 sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
          <%= link_to "SLG", :sort => "slg"%>
        </th>
      </tr>
    </thead>
    
    <tbody class="text-gray-700">
      <% @sorted.each do |player| %>
        <tr>
          <td class="text-left py-1 px-2" id = "players_name"><%=link_to player.name, player_path(player) %></td>
          <td class="text-left py-1 px-2"><%= player.seasons.count %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:games) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:atbat) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:hits) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:runs) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:singles) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:doubles) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:triples) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:homeruns) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:rbi) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:tb) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:k) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:sac) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:gwrbi) %></td>
          <td class="text-left py-1 px-2"><%= average(player).to_s %></td>
          <td class="text-left py-1 px-2"><%= slugging(player).to_s %></td>
          
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
</div>

