

<div class = "d-flex flex-column">
  <h1 class = "text-2xl md:text-6xl my-4 p-2 text-center bg-[#50AE26] text-white w-1/2 place-self-center" >Stats </h1>
  <h2 class = "text-l md:text-xl text-center w-1/2 place-self-center">This page displays career statistics depending on the number of seasons a player has played.  You can click the categories to re-sort the table. </h2>
  <div>
    <h2 class = "py-4">You are seeing players with at least <span class="font-bold"><%=params[:query_seasons] ? params[:query_seasons] : 6%></span>  seasons in the DSL sorted by <span class="font-bold capitalize"><%=params[:sort] ? params[:sort] : "name"%></span></h2>
    
    <div class="flex flex-col mb-3 gap-3">
      <div class="">
        <%=link_to "Male", stats_male_path, class: "rounded w-40 text-center justify-center my-3 outline-4 p-2 border-1 bg-[#50AE26] border-gray-800 hover:bg-black text-white #{'bg-black' if current_page?(stats_male_path)}"%>
        <%=link_to "Female", stats_female_path, class: "rounded w-40 text-center justify-center my-3 outline-4 p-2 border-1 bg-[#50AE26] border-gray-800 hover:bg-black text-white #{'bg-black' if current_page?(stats_female_path)}"%>
        <%=link_to "All", stats_all_path, class: "rounded w-40 text-center justify-center my-3 outline-4 p-2 border-1 bg-[#50AE26] border-gray-800 hover:bg-black text-white #{'bg-black' if current_page?(stats_all_path)}"%>
      </div>
      <div class="">
        <%=render "form"%>
      </div>
      
     </div>
    </div>
  </div>

  <% sorting_headers = [
  { id: "players-name", text: "Name", sort: "name" },
  { id: "players-seasons", text: "Seasons", sort: "seasons.count" },
  { id: "players-games", text: "G", sort: "stats.games" },
  { id: "players-atbats", text: "AB", sort: "atbat" },
  { id: "players-hits", text: "H", sort: "hits" },
  { id: "players-runs", text: "R", sort: "runs" },
  { id: "players-single", text: "1B", sort: "singles" },
  { id: "players-double", text: "2B", sort: "doubles" },
  { id: "players-triple", text: "3B", sort: "triples" },
  { id: "players-homeruns", text: "HR", sort: "homeruns" },
  { id: "players-rbi", text: "RBI", sort: "rbi" },
  { id: "players-k", text: "TB", sort: "tb" },
  { id: "players-k", text: "K", sort: "k" },
  { id: "players-sac", text: "SAC", sort: "sac" },
  { id: "players-gwrbi", text: "GW", sort: "gwrbi" },
  { id: "players-avg", text: "AVG", sort: "avg" },
  { id: "players-slg", text: "SLG", sort: "slg" },
  { id: "players-obp", text: "OBP", sort: "obp" },
  { id: "players-ops", text: "OPS", sort: "ops" }
] %>

 
<div id="players", class= "shadow rounded border-b border-gray-200 overflow-x-auto md:overflow-x-clip" do >
  <table class="table min-w-full bg-white tablesorter" id = "myTable">
  <div id = "form">
    <thead class="sticky top-0 bg-[#50AE26] text-white" >
      <tr data-controller="sort">
        <% sorting_headers.each do |header| %>
          <th id="<%= header[:id] %>" class="bg-[#50AE26] sticky top-0 text-left py-3 px-2 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= link_to header[:text], sort: header[:sort], gender: params[:gender], query_seasons: params[:query_seasons], order: sortable %>
          </th>
        <% end %>
      </tr>
    </thead>
    
    <tbody class="text-gray-700">
      <% @sorted.each do |player| %>
        <tr class = "hover:bg-gray-200">
          <td class="text-left py-1 px-2 sticky left-0 bg-white lg:bg-transparent" id = "players_name"><%=link_to player.name, player_path(player) %></td>
          <td class="text-left py-1 px-2"><%= player.seasons.count %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:games) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:atbat) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:hits) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:runs) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:singles) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:doubles) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:triples) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:homeruns) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:rbi) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:tb) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:k) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:sac) %></td>
          <td class="text-left py-1 px-2"><%= player.stats.sum(:gwrbi) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(average(player), precision: 3) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(slugging(player), precision: 3) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(onbase(player), precision: 3) %></td>
          <td class="text-left py-1 px-2"><%= number_with_precision(ops(player), precision: 3) %></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
</div>

