<!DOCTYPE html>
<html>
  <head>
    <title>DSL Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <meta name="turbolinks-cache-control" content="no-cache">




  </head>

  <body>
  <%= render "layouts/navbar"%>
    <main class="<%=controller_name != "dsl_info" ? "container" : ""%>">
      <%= yield %>

      
    </main>
    </div>
    

  </body>
</html>
