<!DOCTYPE html>
<html>
  <head>
    <title>DSL Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  




  </head>

  <body>
  
  <div class = "bg-[#50AE26] pl-6 font-semibold"><%=image_tag("fg.png", size: "40x40", class: "inline-block")%>DSL<span class = "text-white">GRAPHS</span>
  <%=link_to "Stats", stats_path%>
  <%=link_to "Seasons", seasons_path%>
  <%=link_to "Eras", eras_path%>
  <%=link_to "All", every_index_path%>
  </div>
    <main class="container mx-auto mt-7 px-5 flex">
      <%= yield %>

      
    </main>
    </div>
  </body>
</html>
